@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

h1 {
    text-align: center;
}

.ContactUsHeader p{
    margin: 0;
    margin-top: 1.2rem;
}
.timeline-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 2rem;
}

.timeline-line {
    position: absolute;
    width: 2px;
    background-color: #ddd;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-line::before,
.timeline-line::after {
    content: '';
    position: absolute;
    width: 10px;  /* Diameter of the circle */
    height: 10px; /* Diameter of the circle */
    background-color: #a7a7a7;
    border-radius: 50%; /* Makes it a circle */
    left: 50%;
    transform: translateX(-50%);
}

.timeline-line::before {
    top: 0; /* Circle at the top of the line */
}

.timeline-line::after {
    bottom: 0; /* Circle at the bottom of the line */
}


.timeline {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-bottom: 50px;
}

.timeline-event {
    position: relative;
    width: calc(50% - 16px);
    background-color: #fff;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.179);
}

.timeline-event:nth-child(even) {
    margin-left: calc(50% + 16px);
}

.timeline-event:nth-child(odd) {
    margin-right: calc(50% + 56px);
}

.event-card {
    flex: 1;
    display: flex;
    flex-direction: row;
    position: relative;
}

.event-card img {
    width: 200px;
    object-fit: contain;
    border-radius: 5px;
    margin-right: 20px;
}

.event-card-details {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.event-card h3 {
    margin: 5px 0;
}

.event-card p {
    margin: 5px 0;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-date {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    padding: 5px 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    width: auto;
    text-align: center;
    white-space: nowrap;
}

.timeline-event:nth-child(even) .event-date {
    /* left: calc(-33% + 16px); */
    left: calc(-30%);
    /* Position date to the right side of the middle line */
}

.timeline-event:nth-child(odd) .event-date {
    /* right: calc(-36% + 16px); */
    right: calc(-33%);
    /* Position date to the left side of the middle line */
}


.event-card::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: rgba(128, 128, 128, 0.50);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.timeline-event:nth-child(even) .event-card::after {
    left: -24px;
}

.timeline-event:nth-child(odd) .event-card::after {
    right: -24px;
}

.know-more {
    background-color: #2f2f2f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    width: fit-content;
    padding:10px 20px ;
    /* backdrop-filter: blur(5px); */
    border: 1px solid transparent;
    transition: 0.3s;
}

.know-more:hover{
    background-color: white;
    border:1px solid  #2f2f2f;
    color: black;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 101;
    /* transition: 0.3s ease-in-out; */
}

.modal-container{
    display: flex;
    flex-direction: row;
}
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.zoomIn {
    animation: zoomIn 0.5s forwards;
}

.zoomOut {
    animation: zoomOut 0.5s forwards;
}

.fadeOut {
    animation: fadeOut 0.5s forwards;
}
from {
    opacity: 0;
}

to {
    opacity: 1;
}

/* Keyframes for zoomIn animation */
@keyframes zoomIn {
from {
    transform: scale(0.5);
    opacity: 0;
}

to {
    transform: scale(1);
    opacity: 1;
}
}

/* Keyframes for zoomOut animation */
@keyframes zoomOut {
from {
    transform: scale(1);
    opacity: 1;
}

to {
    transform: scale(0.5);
    opacity: 0;
}
}

/* Keyframes for fadeOut animation */
@keyframes fadeOut {
from {
    opacity: 1;
}

to {
    opacity: 0;
}
}

.modal-close {
    float: right;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
}

.modal-div {
    display: flex;
    flex-direction: column;
}

.div-img img {
    width: 260px;
    margin-right: 1rem;
}

.div-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0.5rem;
}

#modalEventName {
    /* text-align: center; */
    margin: 0;
    margin-bottom: 1rem;
}

.modal-eventname{
    display: flex;
    align-items: center;
    font-size: 1.25rem;
}

.modal-div .div-text a{
    padding: 0.5rem 1rem;
    border-radius: 7px;
    
    text-decoration: none;
    /* font-weight: 400; */
    font-size: 0.9rem;
    color: black;
    border: 1px solid black;
    background-color: white;
}

.modal-div .div-text a:hover{
    background-color: black;
    border: 1px solid white;
    color: black;
}

.modal-div p{
    margin-bottom: 0;
}

.modal-div a{
    color: black;
    text-decoration: none;
    padding: 6px 12px;
    border: 1px solid black;
    border-radius: 0.5rem;
    width: fit-content;
    margin-top: 1rem;
}

.div-text {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

#modalEventDescription {
    margin-top: 0;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 20px 0;
    margin-top: 0;
}


.heading h1 {
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%); */
    margin: 0;
    text-align: center;
    margin-top: 0;
}

.navSection {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
    position: sticky;
    top: 0;
    background-color: #2f2f2f;
    transition: background 0.3s, backdrop-filter 0.3s;
    z-index: 1000;
}

nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10%;
}

.navAnchors {
    height: 100%;
    /* width: 55%; */
    width: 45%;
    margin-left: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
    margin: auto 0;
    margin-right: 2rem;
}

.navAnchors a {
    display: flex;
    gap: 0.5em;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    text-decoration-color: white;
    color: white;
    font-size: 0.9rem;
    font-family: Poppins;
    font-weight: 400;
    padding-bottom: 5px;
    transition: border-bottom 0s;
    transition: transform 0.2s;
    border-bottom: 2.4px solid transparent;

}

.navAnchors a i {
    color: white;
}

.navAnchors a:hover {
    border-bottom: solid white;
    transform: scale(1.06);
}

.navAnchors a.active {
    border-bottom: solid white;
    transform: scale(1.06);
}

#IEEE-LOGO {
    height: 100%;
    width: 20%;
    margin-left: 1rem;

}

#IEEE-LOGO img {
    height: 100%;
    width: 80%;
}

#IEEE-LOGO-phone {
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown button{
    color: white;
    padding-bottom: 5px;
}

.fa-caret-down{
    padding-left: 5px;
    filter: invert(100);
}

.dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    font-family: poppins;
}

.theme-icon{
    width: 24px;
    filter: invert(100);
    padding-right: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    /* min-width: 160px; */
    /* padding: 0.5rem; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    flex-direction: column;
    /* color: black; */
    
    margin-top: 1.25rem;
}

.dropdown-content a {
    color: black;
    padding: 12px 18px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    transition: 0.1s;
}


.dropdown-content a:hover{
    border-bottom: none;
    transform: scale(1.0);
}

.tick-mark {
    visibility: hidden;
    margin-left: 5px;
    font-weight:bolder;
}

.tick-mark.show {
    visibility: visible;
}

#light-theme img{
    filter: invert(100);
}

.navSection.scrolled .fa-caret-down{
    filter: invert(0);
}


/* Blurred background effect on scroll */
.navSection.scrolled {
    backdrop-filter: blur(16px);
    background: rgba(255, 255, 255, 0.2);
    /* Slightly more opaque background when scrolled */
    /* color: black; */
}

.navSection.scrolled a, .navSection.scrolled i {
    color: black;
}

.fa-solid{
    color: black;
}

.navSection.scrolled .navAnchors a:hover {
    border-bottom: solid black;
    /* transform: scale(1.06); */
}

.navSection.scrolled .navAnchors a.active {
    border-bottom: solid black;
    /* transform: scale(1.06); */
}

/* for black logo */
/* .navSection.scrolled #IEEE-LOGO img {
    filter: invert(1);
} */

.heading{
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.theme-div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.4rem 0.8rem;
    flex-direction: row;
    margin-right: 4%;
    margin-top: 0.5rem;
    cursor: pointer;
    background-color: white;
}

.theme-div button{
    margin-left: 0.5rem;
    background-color: transparent;
    border: none;
    color: white;
    text-transform: uppercase;
    color: black;
    cursor: pointer;
}

.theme-div button:hover{
    color: black;
}

.bottom-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.bottom-div h4 {
    margin: 0;
    flex: 1;
    text-align: center;
}

.navSection.scrolledwhite .dropdown-content a{
    color: black;
}

.navSection.scrolled a, .navSection.scrolled i {
    color: black;
}

.navSection.scrolled .dropbtn{
    color: black;
}

.navSection.scrolled .dropbtn img{
    filter: invert(0);
}

.dropdown-content a:hover{
    border-bottom: solid black;
    transform: scale(1);
}

body.darkTheme .dropdown-content a:hover{
    border-bottom: solid black;
    transform: scale(1);
}

body.darkTheme .au-slider h1{
    color: white;
}


body.darkTheme .dropdown .dropdown-content a{
    color: black;
} 

body.darkTheme .dropdown .dropbtn{
    color: white;
}

body.darkTheme .dropdown .dropbtn img{
    filter: invert(100);
}

body.darkTheme .navSection.scrolled .dropdown-content a{
    color: black;
}

/* Dark theme */

body.darkTheme .navSection{
    background-color: transparent;
}
body.darkTheme .navSection.scrolled .navAnchors a:hover {
    border-bottom: solid white;
}

body.darkTheme .navSection.scrolled .navAnchors a.active {
    border-bottom: solid white;
}

body.darkTheme .navSection.scrolled a,
body.darkTheme .navSection.scrolled i {
    color: white;
}

body.darkTheme .footerSection{
    background-color: black;
    border-top: 1px solid white;
}

body.darkTheme .footerClass{
    background-color: black;
}

body.darkTheme .imgs,
body.darkTheme .copyrightSection{
    background-color: black;
}

body.darkTheme #socialLinks a {
    background-color: rgba(255, 255, 255, 0.1);
}

body.darkTheme{
    background-color: black;
}

body.darkTheme .heading h1{
    color: white;
}

body.darkTheme .timeline-event{
    background-color: black;
    border: 1px solid white;
    color: white;
}

body.darkTheme .event-date{
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid white;
    color: white;
}

body.darkTheme .event-card button{
    background-color: white;
    border: 1px solid white;
    color: black;
}
body.darkTheme .event-card button:hover{
    background-color: black;
    color: white;
}

body.darkTheme .modal-content{
    background-color: black;
    color: white;
    border: 1px solid white;
}

body.darkTheme .modal{
    background-color: rgba(0, 0, 0, 0.892);
}

body.darkTheme .close:hover{
    color: rgba(255, 255, 255, 0.279)
}

body.darkTheme .theme-div{
    background-color: black;
    border: 1px solid white;
}

body.darkTheme .theme-div button{
    color: white;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .heading h1{
        margin: 1.5rem 0;
    }

    .heading{
        margin-bottom: 0;
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    .timeline-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .timeline-line{
        position: relative;
    }

    .timeline-event{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-bottom: 2rem;
        flex-direction: column-reverse;
    }

    .timeline-event:nth-child(even){
        margin-left: 0;
        
    }

    .timeline-event:nth-child(odd){
        margin-right: 0;
    }

    .timeline-event:nth-child(even) .event-date{
        left: 0;
        right: 0;
        position: relative;
    }
    .timeline-event:nth-child(odd) .event-date{
        left: 0;
        right: 0;
        position: relative;
    }

    .event-card::after{
        content: "";
        position: absolute;
        background-color: transparent;
        top: 0;
        transform: translateY(0);
    }

    .event-date {
        position: relative;
        top: 0;
        transform: translateY(0);
        font-weight: bold;
        padding: 5px 10px;
        background-color: #f2f2f2;
        border-radius: 5px;
        width: auto;
        text-align: center;
        white-space: nowrap;
        z-index: 10;
        margin-bottom: 0.5rem;
    }

    .event-card{
        display: flex;
        flex-direction: column;
    }

    .event-card img{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
    }

    .modal {
        display: none; /* Hidden by default */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Background overlay */
        overflow: hidden; /* Prevents scrolling outside the modal */
    }
    
    .modal-content {
        position: relative;
        margin: auto;
        width: 80%; /* You can adjust this value */
        max-width: 600px; /* Set the maximum width */
        max-height: 80vh; /* Set the maximum height */
        background-color: #fff;
        border-radius: 8px;
        overflow: hidden; /* Hide overflow to ensure scrollable content */
        display: flex;
        flex-direction: column;

    }
    
    .modal-header{
        padding: 1rem;
    }
    
    
    .modal-content-body {
        padding: 1rem;
        overflow-y: auto; /* Enable vertical scrolling */
        max-height: calc(80vh - 4rem); /* Adjust height considering header and footer */
        padding-top: 0;
    }
    
    .modal-close {
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .modal-div p{
        margin-bottom: 0.7rem;
    }

    .modal-div a{
        margin-top: 0rem;
    }

    #modalEventName{
        margin-top: 0.7rem;
    }
    
    .modal-container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    

    .div-text{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .modal-close{
        font-size: 40px;
    }

    .navSection{
        padding: 0;
    }

    .navAnchors a.active{
        transform: scale(1);
        font-weight:bolder;
    }

    /* .modal-content{
        margin-top: 100%;
        margin-bottom: 100%
    } */

    /* .modal{
        padding-top: 100%;
    } */
}


/* //Scrollbar */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    position: absolute;
    background: black;
    z-index: -1000;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #047bb3;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #f3f3f3; 
  }