/* Modal CSS */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Add this CSS to your stylesheet */
.disable-interaction {
  pointer-events: none;
  opacity: 0.5;
}

#loader {
display: none;
position: fixed;
z-index: 9999;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
border: 12px solid #f3f3f3;
border-radius: 50%;
border-top: 12px solid #3498db;
width: 80px;
height: 80px;
animation: spin 1.5s linear infinite;
opacity: 1;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

/* Ensure the loader is fully visible */
body.disable-interaction #loader {
display: block;
opacity: 1; /* Ensure loader is fully visible */
}

.event-instructions{
  width: 80%;
  margin: auto;
  font-size: 0.8rem;
  margin-top: 1rem;
}

.event-instructions p{
  margin: 0.25rem 0;
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Form CSS */
#event-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

#event-form label {
  font-weight: bold;
}

#event-form input,
#event-form textarea,
#event-form select {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#event-form button {
  grid-column: span 2;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#event-form button:hover {
  background-color: #45a049;
}

#image-upload {
  grid-column: span 2;
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

#image-preview {
  max-width: 100%;
  max-height: 200px;
  margin-top: 10px;
}

/* Table CSS */
#data-table {
  width: 80%;
  border-collapse: collapse;
  margin: auto;
  margin-top: 0px;
}

#data-table th,
#data-table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#data-table th {
  background-color: rgba(0, 0, 0, 0.559);
  color: white;
}


#data-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

#add-event-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#add-event-button:hover {
  background-color: #45a049;
}

.clientbtn {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.clientbtn:hover {
  background-color: gray;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header-container h1 {
  flex-grow: 1;
  text-align: center;
  /* margin-top: 1rem; */
}

.header-container .adminbtn {
  position: absolute;
  left: 0;
  margin-left: 10%;
  /* Adjust as needed for padding from the left */
}

/* Additional styling for the button if needed */
.adminbtn {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.1s;
}

.adminbtn:hover {
  background-color: rgba(0, 0, 0, 0.639);
}

@media (max-width: 1024px) {
  .header-container{
      flex-direction: column;
  }
  .header-container .adminbtn{
      position: relative;
      margin-left: 0;
  }
}