.FooterSection{
    height : 30em;
    background-color: #2f2f2f;
}
.footerSection{
    height : 30em;
    width  : 100%;
    /* background-color: blue; */
    /* background-color: #2f2f2f; */
    display: flex;
    justify-content: center;
    align-items: center;
    color : rgba(248, 248, 248, 0.856) !important;
   
}
.footerClass{
    color : rgba(248, 248, 248, 0.856) !important;
    font-family: Poppins;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom:5%;
    height: 90%;
    width: 90%;
    /* background-color: #047BB3; */
    background-color: #2f2f2f;
    display: flex;
    gap : 5%;
}
.OurGoalsSection{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    height : 100%;
    width  : 30%;
    gap : 8%;
}

#headerOurGoals{
    font-size: 1.2em;
    font-weight: 600;
    color : rgba(255, 255, 255, 0.818);
    /* border-bottom : 1px solid rgba(255, 255, 255, 0.689); */
    padding-bottom : 3px;
    position: relative;
}
#headerOurGoals::after{
    content: "";
    position: absolute;
    padding-bottom: 3px;
    width  : 1.5em;
    color: white;
    left: 0;
    bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.631);

}
#OurGoalsDescription{
    text-align: justify;
    font-size: 0.9em;
    font-weight: 300;
    color : rgba(255, 255, 255, 0.754);
}
#socialLinks{
    display: flex;
    flex-direction: row ;

    gap : 1%;
    
}
#socialLinks a{
    height : 2.5em;
    width  : 2.5em;
    background-color: #404040;
    /* border :1px solid rgba(255, 255, 255, 0.818); */
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-content: center;
}
#socialLinks i{
    height: auto;
    display: flex;
    align-items: center;
}
#socialLinks a:hover{
    border-bottom: 1px solid white;
}
.VerticallineFooter{
    height : 100%;
    display: flex;
}
.VerticallineFooter div{
    /* background-color: blue; */
    height : 50%;
    border-right : 1px solid rgba(255, 255, 255, 0.604);
    /* align-self: center; */
}
.siteMap{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    /* justify-content: center; */
    gap : 8%;
    color : rgba(255, 255, 255, 0.754);

}
.siteMap p{
    font-size: 1.2em;
    font-weight: 600;
    color : rgba(255, 255, 255, 0.818);
    /* border-bottom : 1px solid rgba(255, 255, 255, 0.689); */
    padding-bottom : 3px;
    position: relative;
}
.siteMap p::after{
    content: "";
    position: absolute;
    padding-bottom: 3px;
    width  : 1.5em;
    color: white;
    left: 0;
    bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.631);
}
#SiteMapContent{
    display: flex;
    flex-direction: column;
    gap : 0.6em;
}
.siteMap a{
    font-size : 0.9em;
    display: inline;
    transition: all 0.3s;
}
.siteMap a:link, a:visited, a:active{
    text-decoration: none;
    /* text-decoration-color: rgba(255, 255, 255, 0.754); */
    /* color: rgba(255, 255, 255, 0.754); */
    width: auto;
    transition: all 0.3s;
}
.siteMap a:hover{
    border-bottom : 0.6px solid  rgba(255, 255, 255, 0.754);
}
.ContactUsSection{
    display: flex;
    flex-direction: column;
    gap : 8%
}
.ContactUsHeader p{
    font-size: 1.2em;
    font-weight: 600;
    color : rgba(255, 255, 255, 0.818);
    /* border-bottom : 1px solid rgba(255, 255, 255, 0.689); */
    padding-bottom : 3px;
    position: relative;
}
.ContactUsHeader p::after{
    content: "";
    position: absolute;
    padding-bottom: 3px;
    width  : 1.5em;
    color: white;
    left: 0;
    bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.631);
}
.ContactUsContent{
    display: flex;
    flex-direction: column;
    gap : 0.6em;
}
#emailSection{
    display: flex;
    justify-content: start;
    align-items: center;
    gap : 1em;
    /* color : rgba(255, 255, 255, 0.818); */
}
#emailSection a:link,a:active,a:visited{
    
    text-decoration: none;
    /* color : rgba(255, 255, 255, 0.754); */
    text-decoration-color: none;
}
#addressSection{
    display: flex;
    justify-content: start;
    align-items: start;
    gap : 1em;
    /* color : rgba(255, 255, 255, 0.754); */
}
.GetUpdates{
    display: flex;
    flex-direction: column;
    gap: 8%;
}
.GetUpdatesHeader p{
    font-size: 1.2em;
    font-weight: 600;
    color : rgba(255, 255, 255, 0.818);
    /* border-bottom : 1px solid rgba(255, 255, 255, 0.689); */
    padding-bottom : 3px;
    position: relative;
}
.GetUpdatesHeader p::after{
    content: "";
    position: absolute;
    padding-bottom: 3px;
    width  : 1.5em;
    color: white;
    left: 0;
    bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.631);
}
.GetUpdatesContent{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.GetUpdatesContent form{
    display: flex;
    flex-direction: row;
    border : none;
}
.GetUpdatesContent form input{ 
    height : auto;
    width  : 20em;
    font-family: poppins;
    border : none;
    color  : #2f2f2f !important ;
}
.GetUpdatesContent form input{
    color  : #2f2f2f !important ;
}
.GetUpdatesContent form input{ 
    outline: none;
}
#yourNameButton div ,#yourEmailButton div{
    height : 3em;
    width  : 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border : none;
}
#Submitbutton button{
    height : 3.7em;
    width  : 23.5em;
    font-family: Poppins;
    font-size : 0.84em;
    border : none;
    font-weight: 600;
    transition: all 0.4s;
}
#Submitbutton button:hover{
    background-color: transparent;
    border : 2px solid white;
    color : white
}
.AULogo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.AULogo img{
    height: 10em;
    width : 23em;
}
.copyrightSection{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: poppins;
    color : #2f2f2f;
    font-weight: 300;
    font-size:1em

}
.FooterSection * p,a{
    transition: all 0.3s;
    color     : rgba(255, 255, 255, 0.509) 
}
.FooterSection *:hover{
    color : white;
}