.mobile-wrapper {
    display: flex;
    max-width: 650px;
    width: 95%;
    background: #fff;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 12px;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */
    margin: 0 5%;
    margin-bottom: 3.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);

  }
  .mobile-wrapper i.button {
    position: absolute;
    top: 87%;
    /* transform: translateY(-50%); */
    height: 36px;
    width: 36px;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    color: #fff;
    font-size: 15px;
    transition: all 0.3s linear;
    z-index: 100;
    cursor: pointer;
  }
  .mobile-wrapper .button:active {
    transform: scale(0.94) translateY(-50%);
  }
  .mobile-wrapper i#prev {
    left: 25px;
  }
  .mobile-wrapper i#next {
    right: 25px;
  }
  .image-container {
    height: 320px;
    max-width: 500px;
    width: 95%;
    overflow: hidden;
    position: relative;

  }
  .image-container .carousel {
    display: flex;
    height: 100%;
    width: 100%;
    transition: all 0.4s ease;
  }
  .image-container .carousel figure {
    min-width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .image-container .carousel img {
    height: 280px;
    width: 100%;
    border-radius: 18px;
    border: 10px solid #fff;
    object-fit: cover;
  }
  .image-container .carousel figcaption {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    /* margin-top: 10px; */
    margin-bottom: 10px;
  }