@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/*  Hero section  */

*{
    margin          : 0           ;
    padding         : 0           ;
    box-sizing      : border-box  ;
    scroll-behavior : smooth      ;
}

html {
    scroll-behavior: smooth;
  }
  
/* body{
    background-color: black;
} */

#heroSection{
    height         : 100vh      ;
    width          : 100%       ;
    /* position    : relative; */
}

#heroSection img{
    /* height         : 100%       ;
    width          : 100%       ; */
    position       : relative   ;

}

#heroSection video{
    height        : 100%        ;
    width         : 100%        ;   
    position      : relative    ;
}

.imageBackGround{
    display      : none          ;
    z-index      : -999          ;
}

.typing-container {
    /* font-size: 1.5rem; */
    font-size: 125%;
    font-family     : Poppins;
    font-weight     : 400;
    letter-spacing  : 0.150em;
}

#cursor {
    animation: cursor-blink 0.7s infinite;
}

@keyframes cursor-blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.videoHeroSection {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

#myCanvas {
    display: block;
    width: 100%;
    height: 100%;
    z-index: -999;
}
/* ============ NavBar============ */


.navSection {
    padding    : 10px 0 10px 10px;
    /* padding-left    : 9px; */
    position        : fixed;
    top             : 0;
    width           : 100%;
    background-color: transparent; /* Set the background to transparent initially */
    z-index         : 1000; /* Ensure the navbar is above other content */
    transition      : background-color 0.3s ease; /* Smooth transition for background color change */
} 

nav{
    height          : 100%;
    width           : 100%;
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
    gap             : 10%;
}

#IEEE-LOGO{
    height         : 100%;
    width          : 20%;
    margin-left    : 1rem;
    /* margin-top: 1rem; */

}
#IEEE-LOGO img{
    height         : 100%;
    width          : 80%;
}
#IEEE-LOGO-phone{
    display        : none;
}


.navAnchors {
    height: 100%;
    /* width: 55%; */
    width: 45%;
    margin-left: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
    margin: auto 0;
    margin-right: 2rem;
}

.navAnchors a {
    display: flex;
    gap: 0.5em;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    text-decoration-color: white;
    color: white;
    font-size: 0.9rem;
    font-family: Montserrat;
    font-weight: 400;
    padding-bottom: 5px;
    transition: border-bottom 0s;
    transition: transform 0.2s;
    border-bottom: 2.4px solid transparent;
}

.navAnchors a i {
    color: white;
    font-size: 0.8rem
}

.navAnchors a:hover {
    border-bottom: solid white;
    transform: scale(1.06);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown button{
    color: white;
    padding-bottom: 5px;
}

.fa-caret-down{
    padding-left: 5px;
}

.dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    font-family: Montserrat;
}

.theme-icon{
    width: 24px;
    filter: invert(100);
    padding-right: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    /* min-width: 160px; */
    /* padding: 0.5rem; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    flex-direction: column;
    /* color: black; */
    
    margin-top: 1.25rem;
}

.dropdown-content a {
    color: black;
    padding: 12px 18px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition: 0.1s;
    border-bottom: 0;
}


.dropdown-content a:hover{
    border-bottom: 0;
    transform: scale(1.0);
    font-weight: bold;
}

.tick-mark {
    visibility: hidden;
    margin-left: 5px;
    font-weight:bolder;
}

.tick-mark.show {
    visibility: visible;
}

#light-theme img{
    filter: invert(100);
}




/* Add the scrolled class to the navbar when it's scrolled */
.navSection.scrolled {
    backdrop-filter: blur(16px);
    background: rgba(255, 255, 255, 0.2);
    /* Adjust the background color and blur effect as needed */
    /* color: black; */
}

.navSection.scrolled .navAnchors a:hover {
    border-bottom: solid black;
    /* transform: scale(1.06); */
}

.navSection.scrolled .navAnchors a.active {
    border-bottom: solid black;
    /* transform: scale(1.06); */
}

.navSection.scrolledwhite {
    backdrop-filter: blur(16px);
    background: rgba(255, 255, 255, 0.2);
    /* Adjust the background color and blur effect as needed */
    /* color: black; */
}
.navSection.scrolledwhite a, .navSection.scrolledwhite i{
    color: white;
}

.navSection.scrolledwhite .dropdown-content a{
    color: black;
}

.navSection.scrolled a, .navSection.scrolled i {
    color: black;
}

.navSection.scrolled .dropbtn{
    color: black;
}

.navSection.scrolled .dropbtn img{
    filter: invert(0);
}




/* ===============Line============= */
.Verticalline{
    height: 30vh;
    width : 25px;
    position: absolute;
    left    : 3.2%;
    top     : 20%;
    

}
.vl{
    border-left: 2px solid rgba(255, 255, 255, 0.514);
    height: 100%;
} 

.circles{
    height: 60vw;
    position: absolute;
    top     : 20%;
    left    : 2.7%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.circle{
    height  : 20px;
    width   : 20px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255,1);
    transition: all 0.2s;
}
.circle:hover{
    transform:scale(0.8);
}
.circle:active{
    background-color: rgb(155, 155, 155);
}

/* ================ HeroCONTENT================== */
.heroContent{
    height          : 85%;
    width           : 93%;
    /* background-color: aqua; */
    position        : absolute;
    top             : 13%;
    left            : 6.2%; 
    display: flex;
    /* justify-content: space-around; */
    gap : 0%;

}
.Heading{
    position        : absolute;
    /* top             : 0%; */
    /* background-color: black; */
    color           : white;
    /* height          : 100%; */
    width           : 100%;
    display         : flex;
    position: relative;
    flex-direction  : column;
    justify-content : start;

}
.Heading #subheadingText{
    font-family     : Poppins;
    font-weight     : 400;
    letter-spacing  : 0.150em;
    width: 100%;
}
#typing-text , #subheadingText{
    font-size: 1.5vw !important;
    margin-left: 10px;
}
.Heading #subheadingText span {
    border-right    : 4px solid white;
    display: inline-block;
    width:min-content;
    white-space: nowrap;
    overflow: hidden;
    animation: 
         4s steps(35) infinite alternate typing ,
        .75s step-end infinite alternate cursor;
}

.Heading .ieee-ausb-div{
    display: flex;
    flex-direction: row;
}
.letter-heading {
    display: flex;
    flex-direction: row;
    font-size: 10vw;
    font-family: Montserrat, sans-serif;
    font-weight: 850;
    /* letter-spacing: -0.05em; */
    width: fit-content;
}

#headingTextIEEE{
    margin-right: 4%;
}
.letter {
    display: inline-block;
    opacity: 0;
    transform: translateY(-100%);
    animation: floatUp 1s forwards;
}
@keyframes floatUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* #headingText span:nth-child(4) {
    margin-right: 5%;
} */

.normal-text{
    position        : -webkit-sticky;
}

.imageCard{
    height          : 100%   ;
    /* background-color: blue; */
    display         : flex    ;
    flex-direction  : column  ;
    gap             : 25px    ;
}
.imageSlider{
    height          : 100%    ;
    width           : 50%     ;
    /* background-color: blue; */
    position        : absolute;
    left            : 50%     ;

}
.imageDescription{
    color           : white;
    height          : 1.7em  ;
    font-size       : 1.2em  ;
    display         : flex   ;
    flex-direction  : column ;
    gap             : 14px   ;
    padding-left    : 10px   ;

}
.circlesImageSlider{
    display         : flex   ;
    flex-direction  : row    ;
    gap             : 4px    ;
}
#circleImageCard{
    height          : 7px    ; 
    width           : 7px    ;
    border-radius   : 50%    ;
    background-color: white;
}
.image{
    height          : 73%    ;
    width           : 45%    ;
}
.image img{
    height          : 100%   ;
    border-radius   : 1.15em ;
}

  
  /* HTML: <div class="loader"></div> */
.event-loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    margin: auto;
  }
  .event-loader::before,
  .event-loader::after {    
    content:"";
    grid-area: 1/1;
    --c:no-repeat radial-gradient(farthest-side,#25b09b 92%,#0000);
    background: 
      var(--c) 50%  0, 
      var(--c) 50%  100%, 
      var(--c) 100% 50%, 
      var(--c) 0    50%;
    background-size: 12px 12px;
    animation: l12 1s infinite;
  }
  .event-loader::before {
    margin: 4px;
    filter: hue-rotate(45deg);
    background-size: 8px 8px;
    animation-timing-function: linear
  }
  
  @keyframes l12 { 
    100%{transform: rotate(.5turn)}
  }

  /* Loader styles */
.mapLoader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 15;
    right: 0;
    display: block;
}

/* Spinner animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* About section */

.aboutSection{
    display: grid;
    /* margin-top : 3rem; */
    
}

.aboutCard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    

}
.aboutImage{
    display: inline;
    width :  42%;
    height : 70%;
    /* background-color: black; */
    overflow-y: auto;
    
}
.aboutImage img{
    height : 98%;
    width  : 80%;
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
    border-bottom-left-radius: 0.6em;
    border-bottom-right-radius: 10em;
    box-shadow: 10px 10px 0px 0px #047BB3;
}
.aboutText{
    width : 48%;
    height : 70%;
    /* background-color: rgb(63, 63, 141); */
    display: flex;
    flex-direction: column;
    gap : 1%;

}
.aboutSectionHeadingText{
    display: flex;
    font-size: 1.5rem;
    /* background-color: blanchedalmond; */
    position: relative;
    

}
.aboutSectionHeadingText p{
    color : #047bb3;
    font-family: roboto;
    font-weight: 500;
    font-size : 1.5em; 
    justify-self: center;
    position: relative;
}
.aboutWelcomeText{
    font-family: Montserrat;
    font-size: 2em;
    font-weight: 500;
    color: #2f2f2f;
    transition: all 0.1s ease-in 0s;
    /* display: inline-block; */
    border-bottom: 3px solid transparent;
}

.aboutWelcomeText:hover{
    display: inline;
    /* padding-bottom: 0.2rem; */
    border-bottom: 3px solid #2f2f2f9f;
}
.aboutDescriptionText{
    padding-top : 6px;
    font-family: Montserrat;
    font-size: 1rem;
    color: #2f2f2f;
    text-align: justify;
}


#designcircle1 img {
    
    position: absolute;
    height : 9em;
    top : 10%;
    left: 2%;
}

#designcircle2 img {
    position: absolute;
    height : 9em;
    bottom : 30%;
    /* right: 5%; */
    
}

.au-slider h1{
    margin-top: 1rem;
}

.mobile-tablet-image-section{
    display: none;
}
/* Achivement section */

.achievementsSection {
    /* height: 3.2%; */
    width: 100%;
}

#achievementsSection h1{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}
.Achievements-Bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    /* top: 50%; */
    gap: 10%;
    overflow: none;

}

.flex-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-item {

    height: 200px;
    width: 200px;
    /* height           : 66.74%; */
    /* width            : 100%; */
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 6px 7px 0px 10px #047BB3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.flex-item img {
    height: 60%;

}

.flex-item h2 {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 3em;
    color: #595959;
    margin-top: 0;

}

.flex-card h3 {
    font-family: Montserrat;
    font-size: 1.5em;
    font-weight: 400;
    margin-top: 2rem;
    color: #2F2F2F;
    transition: all 0.1s linear 0s;
}

.flex-card h3:hover {
    border-bottom: 1.8px solid #2f2f2f;
}

/* /why join us */

.join-us-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.join-us-card-light{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: left;
    text-align: left;
    gap: 1rem;
}

.join-us-card-dark{
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: left;
    text-align: left;
    gap: 1rem;
    opacity: 0.8;
}

.join-us-head{
    text-align: center; 
    font-size: 2.5rem;
    text-shadow:
        3px 3px rgba(128, 128, 128, 0.4),
        6px 6px rgba(128, 128, 128, 0.2);
}

body.darkTheme .join-us-card-dark{
    display: flex;
}

body.darkTheme .join-us-card-light{
    display: none;
}


/* About us section */

.contactUsSection {
    display: grid;
    height: 35em;
    width: 100%;

}

.contactUsMainClass {
    height: 100%;
    margin-top: 2rem;
}

.MapSection {
    height: 60%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MapSection iframe {
    width: 95vw;
    height: 60vh;
}

.contactUsCard {
    height: 55vh;
    width: 75vw;
    position: absolute;
    top: 45%;
    display: flex;
    flex-direction: row;
    box-shadow: -1em 1em 0.9em 0em rgba(0, 0, 0, 0.603);
    /* border-left: 0.2em solid #047BB3; */
    z-index: 10;
}

.userFormContactUs {
    height: 100%;
    width: 70%;
    background-color: white;
    padding: 1em;
}

.contactUsForm {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 20% 30% 30% 20%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: "a a a a"
        "b b c c"
        "d d d d"
        "e e e e";

    padding: 3%;
    column-gap: 2%;
    row-gap: 1%;
}

#HeaderFormContactus {
    grid-area: a;
    font-family: Montserrat;
    font-size: 1.8rem;
    font-weight: 500;
    color: #047BB3;
    border: none;
    /* margin-left: 1rem; */
    /* grid-area: g; */
}

#nameInput {
    grid-area: b;
}

.contactUsForm input,
textarea {
    border: none;
    border-bottom: 1px solid #2f2f2f95;
    font-family: Montserrat;
    color: #2f2f2fd7;

}

.contactUsForm input:focus,
textarea:focus {
    outline: none;
}

.contactUsForm p {
    font-family: Montserrat;
    color: #2f2f2f91;
    margin-bottom: 10px;
    font-size: 1rem;
}

#nameInput input {
    height: 30%;
    width: 85%;
    font-size: 1rem;

}

#mailInput {
    grid-area: c;

}

#mailInput input {
    height: 30%;
    width: 85%;
    font-size: 1rem;

}

#writeUsMessage {
    grid-area: d;

}

#writeUsMessage textarea {
    height: 40%;
    width: 93%;
    /* overflow: scroll; */
    font-size: 1rem;
}

#sendButton {
    grid-area: e;
    display: flex;
    align-items: center;
}

#sendButton button {
    height: 60px !important;
    width: 200px;
    border: none;
    background-color: #047BB3;
    color: white;
    font-family: Montserrat;
    font-size: 1.1rem;
    transition: all 0.2s;
}

#sendButton button:hover {
    border: 1px solid #047BB3;
    color: #047BB3;
    background-color: transparent;
}

.ourDetailsSection {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    gap: 10%;
    padding: 5%;
    font-family: Montserrat;
    align-items: center;
    background-color: #000000aa;
    position: absolute;
    right: 0;
    z-index: 3;
}

.ourDetailsImage {
    height: 100%;
    width: 30%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.headerOurDetails {
    color: white;
    /* color : #047BB3; */
    font-size: 2em !important;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: 600;
    height: 20%;
    width: 100%;
}

.contentOurDetails {
    height: 100%;
    width: 100%;
}

#ourDetailsList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8%;
    height: 100%;
    width: 100%;
}

#ourDetailsList a {
    display: flex;
    flex-direction: row;
    gap: 12%;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 1rem !important;
    height: 15%;
    width: 100%;
    transition: all 0.25s;
}

#ourDetailsList a:hover {
    transform: scale(1.04);
}

#ourDetailsList a:active,
a:visited,
a:link {
    text-decoration: none;
    text-decoration-color: none;
}

#addressOurDetail,
#emailOurDetail,
#linkedInOurDetail,
#InstagramOurDetail {
    display: flex;
    flex-direction: row;
    gap: 12%;
    align-items: center;
    color: white;
    font-family: Montserrat;
    width: 100%;
}  
    
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: none; /* Hidden by default */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.GetUpdates {
    position: relative;
}

.GetUpdates .GetUpdatesContent {
    transition: opacity 0.3s;
}

.copyrightSection h4{
    text-align: center;
}


.bottom-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.bottom-div h4 {
    margin: 0;
    flex: 1;
    text-align: center;
    /* color: rgba(255, 255, 255, 0.8); */
}


body.darkTheme{
    background-color: black;
}

body.darkTheme .aboutWelcomeText{
    color: white;
}

body.darkTheme .aboutWelcomeText:hover{
    border-bottom: 3px solid white;
}

body.darkTheme .aboutDescriptionText{
    color: white;
}

body.darkTheme .Section{
    color: rgb(4,123,179);
}

body.darkTheme .flex-card h3{
    color: white;
}

body.darkTheme .wrapper h1{
    color: white;
}

body.darkTheme .head h1{
    color: white;
    text-shadow: 
    5px 5px rgba(128, 128, 128, 0.4),
    9px 9px rgba(128, 128, 128, 0.2);
}

body.darkTheme .userFormContactUs, 
body.darkTheme .userFormContactUs input, 
body.darkTheme .userFormContactUs textarea{
    background-color: black;
}

body.darkTheme .contactUsCard {
    box-shadow: -0.1em 0.1em 1em 0em rgba(168, 167, 167, 0.753);
}
body.darkTheme .contactUsForm p{
    color: white;
}

body.darkTheme .contactUsForm input, body.darkTheme .contactUsForm textarea {
    border-bottom: 1px solid white;
    color: white;
}

body.darkTheme .contactUsForm #sendButton button{
    background-color: white;
    border: 1px solid white;
    color: black;
}

body.darkTheme .contactUsForm #sendButton button:hover{
    background-color: black;
    color: white;
}

body.darkTheme .footerSection{
    background-color: black;
    border-top: 1px solid white;
}

body.darkTheme .footerClass{
    background-color: black;
}

body.darkTheme .imgs,
body.darkTheme .copyrightSection{
    background-color: black;
}

body.darkTheme #socialLinks a {
    background-color: rgba(255, 255, 255, 0.1);
}


body.darkTheme .navSection.scrolled .navAnchors a:hover {
    border-bottom: solid white;
}


.navSection.scrolledwhite .dropdown-content a:hover{
    border-bottom: solid black;
    transform: scale(1);
}

body.darkTheme .navSection.scrolled .dropdown-content a:hover{
    border-bottom: solid black;
    transform: scale(1);
}


body.darkTheme .navSection.scrolled .navAnchors a.active {
    border-bottom: solid white;
}

body.darkTheme .navSection.scrolled a,
body.darkTheme .navSection.scrolled i {
    color: white;
}



body.darkTheme .eventContainer .content{
    color: rgba(255, 255, 255, 0.65);
}

body.darkTheme .eventContainer .card{
    border: 1px solid rgba(255, 255, 255, 0.25);
}

body.darkTheme .eventContainer .link{
    border: 1px solid rgba(255, 255, 255, 0.25);
    background-color: white;
    color: black;
}

body.darkTheme .eventContainer .link:hover{
    background-color: black;
    color: white;
}

body.darkTheme .para p{
    color: rgb(146, 146, 146);
}
body.darkTheme .cardDiv{
    background-color: rgb(27, 28, 29);
    border: 1px solid rgba(255, 255, 255, 0.377);
}
body.darkTheme .swiper-slide{
    background-color: black;
    border: 1px solid white;
}

body.darkTheme .swiper-slide button{
    border: 1px solid white;
    color: white
}
body.darkTheme .swiper-slide .detail h2{
    color: white
}

body.darkTheme .modal-content{
    background-color: black;
    color: white;
}

body.darkTheme .modal{
    background-color: rgba(0, 0, 0, 0.892);
}

body.darkTheme .close:hover{
    color: rgba(255, 255, 255, 0.279)
}

body.darkTheme .theme-div{
    background-color: black;
    border: 1px solid white;
}

body.darkTheme .theme-div button{
    color: white;
    cursor: pointer;
}

body.darkTheme .check .upcomingEventCard-content img{
    filter: invert(100%);
}
body.darkTheme .content .card-date-div .upcomingEventCard-content{
    background-color: rgb(13,127,181);
    color: white;
}

body.darkTheme .au-slider h1{
    color: white;
}

body.darkTheme .dropdown-content a:hover{
    border-bottom: none;
    transform: scale(1.0);
} 

body.darkTheme .dropdown .dropdown-content a{
    color: black;
} 

body.darkTheme .dropdown .dropbtn{
    color: white;
}

body.darkTheme .dropdown .dropbtn img{
    filter: invert(100);
}









/* //Scrollbar */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    position: absolute;
    background: black;
    z-index: -1000;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #047bb3;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #f3f3f3; 
  }