
/* for-desktop-landscape-up */
@media (min-width: 1024px) and (max-width: 1199px) {

    html,
    body {
        overflow-x: hidden;
    }

    .Verticalline {
        height: 40vw !important;
        left: 44px;
        top: 15vh;
    }

    .circles {
        top: 15vh;
        left: 39px;
        height: 40vw;

    }

    .circles .circle {
        height: 0.75rem;
        width: 0.75rem;
    }

    .heroSection {
        margin-bottom: 0vh;
        width: 100vw;
    }

    .navAnchors {
        margin-right: 2vw;
        font-size: 0.70rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navAnchors i {
        font-size: 1em !important;
    }

    .heroContent {
        top: 15vh;
    }

    .heroContent .Heading {
        top: 10vw;
        margin-bottom: 0;
        height: 0 !important;
    }

    .heroContent .Heading #headingText {
        position: unset;
        font-size: 10vw;
    }

    .heroContent .Heading #subheadingText {
        position: unset;
        font-size: 1.5vw;
    }

    .aboutSection {
        margin-bottom: 6vh;
    }
    
    #typing-text , #subheadingText{
        font-size: 1.2vw !important;
        margin-left: 10px;
    }

    .aboutSectionHeadingText,
    .aboutWelcomeText,
    .aboutDescriptionText {
        font-size: 0.8rem;
    }

    .aboutWelcomeText {
        font-size: 1.3rem;
    }

    .achievementsSection {
        margin-bottom: 20vh;
    }

    /* Decide for margin bottom for the upcoming event */
    .past-event-container {
        margin-bottom: 20vh;
    }

    .past-event-container .head h1 {
        font-size: 10vw;
    }

    .contactUsForm p {
        font-size: 0.7rem;
    }

    #sendButton button {
        height: 40px;
        width: 120px;
        font-size: 0.8rem;
    }

    .headerOurDetails {
        font-size: 1.3rem;
    }

    #ourDetailsList a {
        font-size: 0.8rem;
    }

    .footerClass {
        display: flex;
        justify-content: space-around;
        font-size: 0.7rem;
    }

    .footerClass form input,
    #Submitbutton {
        width: 100%;
    }

    .heroSection,
    .achievementsSection {
        margin-top: unset !important;
        margin-bottom: unset !important;
        margin-bottom: 70px !important;
        background-color: red;
       
    }
    .aboutSection,
    .past-event-container,
    .wrapper {
        margin-top: unset !important;
        margin-bottom: unset !important;
        /* margin-bottom: 100px !important; */
        background-color: red;

    }

    .contactUsSection{
        margin-top: 100px !important;
        margin-bottom: unset !important;
        margin-bottom: 240px !important;
        background-color: red;

    }
}


/* for-desktop-up */
@media (min-width: 1200px) and (max-width: 1399px) {

    html,
    body {
        overflow-x: hidden;
    }

    .Verticalline {
        height: 40vw !important;
        left: 44px;
        top: 15vh;
    }

    .circles {
        top: 15vh;
        left: 39px;
        height: 40vw;

    }

    .circles .circle {
        height: 0.75rem;
        width: 0.75rem;
    }

    .heroSection {
        margin-bottom: 0vh;
        width: 100vw;
    }

    .navAnchors {
        margin-right: 2vw;
        font-size: 0.70rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .navAnchors i {
        font-size: 1em !important;
    }

    .heroContent {
        top: 15vh;
    }

    .heroContent .Heading {
        top: 10vw;
        margin-bottom: 0;
        height: 0 !important;
    }

    .heroContent .Heading #headingText {
        position: unset;
        font-size: 10vw;
    }

    .heroContent .Heading #subheadingText {
        position: unset;
        font-size: 1.5vw;
    }

    .aboutSection {
        margin-bottom: 6vh;
    }

    .aboutSectionHeadingText,
    .aboutWelcomeText,
    .aboutDescriptionText {
        font-size: 0.8rem;
    }

    .aboutWelcomeText {
        font-size: 1.3rem;
    }

    .achievementsSection {
        margin-bottom: 20vh;
    }

    /* Decide for margin bottom for the upcoming event */
    .past-event-container {
        margin-bottom: 20vh;
    }

    .past-event-container .head h1 {
        font-size: 10vw;
    }

    .contactUsForm p {
        font-size: 1rem;
    }

    #sendButton button {
        height: 40px;
        width: 120px;
        font-size: 1rem;
    }

    .headerOurDetails {
        font-size: 1.3rem;
    }

    #ourDetailsList a {
        font-size: 0.8rem;
    }

    .footerClass {
        display: flex;
        justify-content: space-around;
        font-size: 0.9rem;
    }

    .footerClass form input,
    #Submitbutton {
        width: 100%;
    }


    .heroSection,
    .achievementsSection {
        margin-top: unset !important;
        margin-bottom: unset !important;
        margin-bottom: 70px !important;
        background-color: yellow;
       
    }
    .aboutSection,
    .past-event-container,
    .wrapper {
        margin-top: unset !important;
        /* margin-bottom: unset !important; */
        /* margin-bottom: 140px !important; */
        background-color: yellow;
    }

    .contactUsSection {
        margin-top: unset !important;
        margin-bottom: unset !important;
        margin-bottom: 140px !important;
        background-color: yellow;
    }
    
}

/* //Done  */
/* for-medium-desktop-up */
@media (min-width: 1400px) and (max-width: 1799px) {

    html,
    body {
        overflow-x: hidden;
    }

    .Verticalline {
        height: 40vw !important;
        left: 55px;
        top: 15vh;
    }

    .circles {
        top: 15vh;
        left: 48.5px;
        height: 40vw;

    }

    .circles .circle {
        height: 0.9rem;
        width: 0.9rem;
    }

    .heroSection {
        margin-bottom: 0vh;
        width: 100vw;
    }

    .navAnchors {
        margin-right: 2vw;
        font-size: 0.78rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navAnchors i {
        font-size: 1em !important;
    }

    .heroContent {
        top: 15vh;
    }

    .heroContent .Heading {
        top: 10vw;
        margin-bottom: 0;
        height: 0 !important;
    }

    .heroContent .Heading #headingText {
        position: unset;
        font-size: 10vw;
    }

    .heroContent .Heading #subheadingText {
        position: unset;
        font-size: 1.5vw;
    }

    .aboutSection {
        margin-bottom: 0vh;
    }

    .aboutSectionHeadingText,
    .aboutWelcomeText,
    .aboutDescriptionText {
        font-size: 1.1rem;
    }

    .aboutWelcomeText {
        font-size: 1.9rem;
    }

    .achievementsSection {
        margin-bottom: 20vh;
    }

    /* Decide for margin bottom for the upcoming event */
    .past-event-container {
        margin-bottom: 20vh;
    }

    .footerClass {
        display: flex;
        justify-content: space-around;
        font-size: 0.8rem;
    }

    .footerClass form input,
    #Submitbutton {
        width: 100%;
    }

    .achievementsSection {
        /* margin-top: 0em !important; */
        margin-bottom: 4rem !important;
        /* background-color: green; */
       
    }

    
    .heroSection{
        /* margin-top: 0em !important; */
        margin-bottom: 0 !important;
        /* background-color: green; */
       
    }
    .aboutSection{
        /* margin-top: unset !important; */
        /* margin-bottom: unset !important; */
        /* margin-bottom: 100px !important; */
        /* background-color: green; */
    }
    
    .past-event-container,
    .wrapper {
        /* margin-top: unset !important; */
        margin-bottom: unset !important;
        margin-bottom: 4rem !important;
        /* background-color: green; */
    }

    .contactUsSection {
        margin-top: 5rem !important;
        margin-bottom: unset !important;
        margin-bottom: 8rem !important;
        /* background-color: green; */
        
    }
}

@media (min-width: 1600px) and (max-width: 1799px){

    .achievementsSection
     {
        /* margin-top: unset !important; */
        /* margin-bottom: unset !important; */
        margin-bottom: 6em !important;
        /* background-color: green; */
       
    }
    .heroSection{
        margin-bottom: 0em !important;
    }
    .join-us-div{
        margin-bottom: 6em !important;
        /* margin-top: 10em; */
    }
    .aboutSection{
        /* margin-top: unset !important; */
        /* margin-bottom: unset !important; */
        /* margin-bottom: 100px !important; */
        /* background-color: green; */
    }
    
    .wrapper {
        margin-top: 8em !important;
        margin-bottom: unset !important;
        margin-bottom: 4em !important;
        /* background-color: green; */
    }
    .past-event-container{
        margin-top: 6em !important;
        margin-bottom: unset !important;
        margin-bottom: 7em !important;
        /* background-color: green; */
    }
    .contactUsSection {
        margin-top: 5rem !important;
        margin-bottom: unset !important;
        margin-bottom: 16rem !important;
        /* background-color: green; */
        
    }

}

/* //Done */
/* for-big-desktop-up */
@media (min-width: 1800px) and (max-width: 1999px)  {

    html,
    body {
        overflow-x: hidden;
    }

    .Verticalline {
        height: 40vw !important;
        left: 52px;
        top: 15vh;
    }

    .circles {
        top: 15vh;
        left: 45px;
        height: 40vw;

    }

    .circles .circle {
        height: 1rem;
        width: 1rem;
    }

    .heroSection {
        margin-bottom: 0vh;
        width: 100vw;
    }

    .navAnchors {
        margin-right: 2vw;
        font-size: 1.1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navAnchors i {
        font-size: 1em !important;
    }

    .heroContent {
        top: 15vh;
    }

    .heroContent .Heading {
        top: 20%;
        margin-bottom: 0;
    }

    .heroContent .Heading #headingText {
        position: unset;
        font-size: 10vw;
    }

    .heroContent .Heading #subheadingText {
        position: unset;
        font-size: 1.5vw;
    }

    .aboutSection {
        margin-bottom: 6vh;
    }

    .aboutSectionHeadingText,
    .aboutWelcomeText,
    .aboutDescriptionText {
        font-size: 1.2rem;
    }

    .aboutWelcomeText {
        font-size: 1.9rem;
    }

    .achievementsSection {
        margin-bottom: 20vh;
    }

    /* Decide for margin bottom for the upcoming event */
    .past-event-container {
        margin-bottom: 20vh;
    }

    .footerClass {
        display: flex;
        justify-content: space-around;
        font-size: 1rem;
    }

    .footerClass form input,
    #Submitbutton {
        width: 100%;
    }

    .heroSection,
    .achievementsSection {
        margin-top: unset !important;
        margin-bottom: unset !important;
        margin-bottom: 190px !important;
        background-color: pink;
       
    }
    .aboutSection{
        margin-top: unset !important;
        margin-bottom: unset !important;
        margin-bottom: 80px !important;
        background-color: pink;

    }
    .past-event-container,
    .wrapper {
        margin-top: unset !important;
        margin-bottom: unset !important;
        margin-bottom: 280px !important;
        background-color: pink;

    }

    .contactUsSection {
        margin-top: unset !important;
        margin-bottom: unset !important;
        margin-bottom: 350px !important;
        background-color: pink;

    }
}


/* //Done */
/* for-big-desktop-up */
@media (min-width: 2000px) and (max-width: 2999px) {

    html,
    body {
        overflow-x: hidden;
    }

    .Verticalline {
        height: 40vw !important;
        left: 65px;
        top: 15vh;
    }

    .circles {
        top: 15vh;
        left: 55px;
        height: 40vw;

    }

    .circles .circle {
        height: 1.4rem;
        width: 1.4rem;
    }

    .heroSection {
        margin-bottom: 20vh;
        width: 100vw;
    }

    .navAnchors {
        margin-right: 2vw;
        font-size: 1.3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navAnchors i {
        font-size: 1em !important;
    }

    .heroContent {
        top: 15vh;
    }

    .heroContent .Heading {
        top: 20%;
        margin-bottom: 0;
    }

    .heroContent .Heading #headingText {
        position: unset;
        font-size: 10vw;
    }

    .heroContent .Heading #subheadingText {
        position: unset;
        font-size: 1.5vw;
    }

    .aboutSection {
        margin-bottom: 6vh;
    }

    .aboutSectionHeadingText,
    .aboutWelcomeText,
    .aboutDescriptionText {
        font-size: 1.8rem;
    }

    .achievementsSection {
        margin-bottom: 20vh;
    }

    /* Decide for margin bottom for the upcoming event */
    .past-event-container {
        margin-bottom: 20vh;
    }

    .footerClass {
        display: flex;
        justify-content: space-around;
        font-size: 1.3rem;
    }

    .footerClass form input,
    #Submitbutton {
        width: 100%;
    }

    .heroSection,
    .achievementsSection {
        margin-top: unset !important;
        margin-bottom: unset !important;
        margin-bottom: 130px !important;
       
    }

    .aboutSection,
    .past-event-container,
    .wrapper {
        margin-top: unset !important;
        margin-bottom: unset !important;
        margin-bottom: 220px !important;
    }

    .contactUsSection {
        margin-top: unset !important;
        margin-bottom: unset !important;
        margin-bottom: 520px !important;
    }
}

@media (min-width : 3000px){
    .heroSection,
    .achievementsSection {
        margin-top: unset !important;
        margin-bottom: unset !important;
        margin-bottom: 330px !important;
       
    }
    .aboutSection,
    .past-event-container,
    .wrapper {
        margin-top: unset !important;
        margin-bottom: unset !important;
        margin-bottom: 300px !important;
    }

    .contactUsSection {
        margin-top: unset !important;
        margin-bottom: unset !important;
        margin-bottom: 490px !important;
    }
}