@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins",Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
}

/* Add this CSS to your stylesheet */
.disable-interaction {
  pointer-events: none;
  opacity: 0.5;
}

#loader {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #3498db;
  width: 80px;
  height: 80px;
  animation: spin 1.5s linear infinite;
  opacity: 1;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Ensure the loader is fully visible */
body.disable-interaction #loader {
  display: block;
  opacity: 1; /* Ensure loader is fully visible */
}


.member-instructions{
width: 90%;
margin: auto;
font-size: 0.8rem;
margin-top: 1rem;
color: #aaa;
}

.member-instructions p{
margin: 0.25rem 0;
}

.adminbtn {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid #aaa;
}

.adminbtn:hover {
  background-color: gray;
}

h1 {
  text-align: center;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  /* 10% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  /* Could be more or less, depending on screen size */
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Form CSS */
#member-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

#member-form label {
  font-weight: bold;
}

#member-form input,
#member-form textarea,
#member-form select {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#member-form button {
  grid-column: span 2;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#member-form button:hover {
  background-color: #45a049;
}

#image-upload {
  grid-column: span 2;
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

#image-preview {
  max-width: 100%;
  max-height: 200px;
  margin-top: 10px;
}


#member-data-table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
  margin: auto;
}

#member-data-table th,
#member-data-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#member-data-table th {
  background-color: rgba(0, 0, 0, 0.559);
  color: white;
}

#member-data-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

th.leave-date, td.leave-date {
  width: 100px;
}

.add-button{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#add-member-button {
  /* display: block; */
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #28a745;
  font-size: 1rem;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

#add-member-button:hover {
  background-color: #1f8b38;
  font-size: 1rem;
}

.clientbtn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.clientbtn:hover {
  background-color: gray;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header-container h1 {
  flex-grow: 1;
  text-align: center;
  color: whitesmoke;
  /* margin-top: 1rem; */
}

.header-container .adminbtn {
  position: absolute;
  left: 0;
  margin-left: 10%;
  /* Adjust as needed for padding from the left */
}

.member-count-div{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.member-count-div .div1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6px;
}

.member-count-div .div1 p{
  color: #888;
  font-size: 1.5rem;
}

.member-count-div .div1 #member-count{
  color: white;
}


/* .linkColumn{
  max-width: 80px;
  width: 10px;
  object-fit: cover-;
} */

.linkIcon{
  width: 41px;
  height: 40px;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

@media (max-width: 1024px) {
.header-container{
    flex-direction: column;
}
.header-container .adminbtn{
    position: relative;
}
}

/* Modal styling for mobile and tablet responsiveness */
@media (max-width: 768px) {
  .modal-content {
    width: 90%;
    /* Reduces the width for smaller screens */
    padding: 15px;
  }

  #member-form {
    grid-template-columns: 1fr;
    /* Makes the form layout single column for smaller screens */
  }

  #member-form button {
    grid-column: span 1;
    /* Adjusts the submit button width to match single-column layout */
  }

  #image-upload {
    grid-column: span 1;
    /* Ensures the image upload is also single-column */
  }
}

@media (max-width: 1024px) {
  .modal-content {
    width: 75%;
    /* Adjusts modal width for tablets */
  }
  
  #member-form {
    grid-template-columns: 1fr;
    /* For tablets, maintain single-column form layout */
  }

  #member-form button {
    grid-column: span 1;
    /* Ensures button is aligned with single-column layout */
  }

  #image-upload {
    grid-column: span 1;
    /* Image upload section remains full width */
  }
}


#member-data-container {
display: flex;
/* flex-direction: column; */
flex-wrap: wrap;
justify-content: center;
align-items: center;
padding: 20px; /* Add padding around the container */
background-color: #121212; /* Dark background for the container */
color: #ffffff; /* Text color for better visibility */
}

#member-cards-container {
display: flex;
flex-wrap: wrap; /* Allows cards to wrap to the next line */
justify-content: center; /* Center cards horizontally */
width: 100%; /* Full width of the container */
max-width: 1200px; /* Optional: max width for larger screens */
}

.card {
background-color: #1f1f1f;
border-radius: 10px;
padding: 15px;
margin: 10px;
display: flex;
flex-direction: column;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
min-width: 280px;
gap: 10px;
}

.card-left {
display: flex;

}

.card-left .icons{
  width: 100%;
  display: flex;
  /* flex-direction: row; */
  /* align-items: end; */
  justify-content: end;
  gap: 2px;
}

.profile-image {
width: 75px;
height: 100px;
border-radius: 10%;
margin-right: 15px;
object-fit: cover;
}

.card-right {
display: flex;
flex-direction: column;
margin-bottom: 10px;
}

.card-right h3, .card-right p{
  margin: 0;
}

.card-right p{
  color: #888;
}

.edit-icon,
.delete-icon {
font-size: 1.5rem;
margin-left: 10px;
cursor: pointer;
color: #1e88e5; /* Edit icon color */
}

.delete-icon {
color: #d32f2f; /* Delete icon color */
}

.card-details {
margin-top: 4px;
color: #ccc;
}

.card-details p {
margin: 5px 0;
}

.social-icons {
margin-top: 10px;
}

.social-icons a {
color: #ccc;
margin-right: 10px;
font-size: 1.5rem;
}

.social-icons a:hover {
color: #ffffff;
}

.card-position-details{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-position-details .div1, .card-position-details .div2{
  display: flex;
  flex-direction: column;
}

.div1 p, .div2 p{
  margin: 0;
}

.div1 .head, .div2 .head{
  color: #888;
}
