.pastEventsSection{
  height : 4.5%;
  width: 100%;
  /* background-color: pink; */
  position: relative;
  overflow-x: auto;
  margin-bottom: 8%;
}
.text-center{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-size: 2.1rem;
  font-weight: 600;
  color: #047BB3;
}
.slider {
  height: 100%;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}
.owl-carousel{
  height : 100%;
  width: 100%;
}
.slider .owl-item.active.center .slider-card {
  transform: scale(1.15);
  opacity: 1;
  
}

.slider-card {
  height: 100%;
  width : 100%;
  display: flex;
  justify-content: stretch;
  object-fit: contain;
  padding: 0px 0px;
  margin: 50px 15px 90px 15px;
  border-radius: 5px;
  box-shadow: 0 15px 45px -20px rgb(0, 0, 0);
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.5s;
  overflow-y:hidden;
  overflow-x: none;
  position: relative;
  justify-content: center;
 
}
#image-Container{
  height : 100%;
  width: 99%;
}
#image-Container img {
  border-radius: 5px 5px 0px 0px;
  height: 100%;
  width: 100%;
  overflow-y:hidden;
  object-fit: contain;
  box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.266);
}

.pastEventInfo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap : 5px;
  position: absolute;
  top : 0%;
  left: 0%;
  font-family: Poppins;
  opacity: 0;
  height : 100%;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.pastEventInfo:hover{
  opacity: 1;
  background-color: #2f2f2fbc;
}
.pastEventInfo #eventDate{
  color : white;
  font-size: 0.8em;
  
}
.pastEventInfo #textHeading{
  color : #047BB3;
  font-size: 2em;
}
.pastEventInfo #textDescription{
  color : white;
  font-size: 0.8em;
  width : 80%;
  margin-bottom: 20px;
  overflow: scroll;
}
.pastEventInfo #knowMoreButton{
  font-family: Poppins;
  height : 3em;
  width  : 30%;
  background-color: #047BB3;
  border: none;
  color : white;
  border-radius: 0.1590em;
  transition: all 0.2s;

}
.pastEventInfo #knowMoreButton:hover{
  border : 1.4px solid #047BB3;
  background-color: transparent;
  color  : #047BB3;
}
.owl-dots {
  text-align: center;
}
.owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #ccc !important;
  margin-left: 3px;
  margin-right: 3px;
  outline: none;
}
.owl-dots .owl-dot.active {
  background: #047BB3 !important;
}

