
.upcomingEventsSection{
    /* background-color: pink; */
    height : auto;
    width  : 100%;
    display: grid;
    gap : 5%;
    margin-bottom: 7%;
}

.upcomingEventCard{
    /* background-color : bisque; */
    height : 100%;
    width : 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    gap : 5%;
    
}
.verticalPartEventCard{
    /* border: 2px solid blueviolet; */
    width: 100%;
}
#CardHeadingContainer{
    height : 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#CardHeadingContainer p{
    /* font-family: Poppins; */
    font-family: Montserrat;
    font-size: 2.1rem;
    font-weight: 600;
    /* color: #2f2f2f; */
    color: #047BB3;

}
#CardMainContent{
    display: flex;
    flex-direction: row;
    height : 100%;
    width: 100%;
}

.upcomingEventMainSection{
    height: 100%;
    width: 100%;
    display: flex;
    box-shadow: 1em 1em 1em 0 rgba(0, 0, 0, 0.342);
    background-color: rgb(248, 248, 248);
    border-left: 0.4em solid #2f2f2f;
    padding-left: 2%;
}
#upcomingEventContainer{
    height: 100%;
    width : 55%;
    display : flex;
    flex-direction: column;
    gap : 3.5%;
}
.UpcomingEventDescriptionClass{
    display: flex;
    flex-direction: column;
    padding-left: 2% ;
       
}
#UpcomingEventHeader p{
   padding-top: 1.352em;
   font-size : 2rem;
   font-family: Poppins;
   color: #2f2f2fea;
}

#UpcomingEventDescription p{
    font-size : 1rem;
    font-family: Poppins;
    color: #2f2f2fc9;
    margin-right: 2%;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    overflow-x: none;
}

#UpcomingEventDetails p{
    font-size : 1.3rem;
    font-family: Poppins;
    color: #2f2f2fea;
}

#UpccomimgEventRegistor button{
    margin-top: 2% ;
    height: 4em;
    width : 15em;
    font-size: 1em;
    background-color: #047BB3;
    color: white;
    border: none;
    border-radius: 0.2em;
    transition: all 0.2s;
}
#UpccomimgEventRegistor button:hover{
    background-color: white;
    border : 2px solid #047BB3;
    color  : #047bb3;
}
#imageContainer{
    /* border : 1px solid black; */
    height: 100%;
    width : 45%;
    display: flex;
    justify-content: end;
    margin-left: 4%;
}
#imageContainer img{
    height : 100%;
    /* border-top-right-radius   : 2.4em; */
    /* border-bottom-right-radius: 2.4em; */
}

#forwardButtonContainer,#backButtonContainer{
    /* border : 1px solid black; */
    height :100%;
    width  :5% ;
}
#CardMainContent{
    height : 85%;
}
#DotsContainer{
    height : 5%;
}

